{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "auth",
  "main": "./src/index.ts",
  "compatibility_date": "2025-07-01",
  "compatibility_flags": ["nodejs_compat"],
  "observability": {
    "enabled": true,
  },
  "kv_namespaces": [
    {
      "binding": "<KV_BINDING>",
      "id": "<KV_NAMESPACE_ID>",
    },
  ],
}
